{% load static %}
<section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Services</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-cart"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Discover Unique Stays</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Discover unique stays that turn ordinary trips into unforgettable adventures. From cozy treehouses nestled in tranquil forests to luxurious beachfront villas with breathtaking views, our curated selection of accommodations offers something extraordinary for every traveler. 
                Embrace the extraordinary and make your next journey truly memorable
              </p>
            </div>
            <div class="card-footer-c">
              
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-calendar4-week"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Host your space</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Host your space with ease and unlock new opportunities. 
                Share your unique place with travelers from around the world, earn extra income, and become part of our welcoming community.
              </p>
            </div>
            <div class="card-footer-c">
              
                <span class="bi bi-calendar4-week"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="bi bi-card-checklist"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Travel with confidence</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Travel with confidence, knowing that your journey is in safe and reliable hands. 
                Explore new horizons with peace of mind, supported by our commitment to your well-being.
              </p>
            </div>
            <div class="card-footer-c">
              
                <span class="bi bi-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>